/* Styling for heading inside right container */
/* .container-right h3 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 20px;
} */

/* Styling for input rows */
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Styling for input groups inside input rows */
.input-row .input-group {
    flex-basis: 45%;
}

/* Styling for input fields */
input {
    width: 95%;
    border: none;
    color: #353535;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
} 

/* Styling for textareas */
textarea {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

/* Styling for labels */
label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #353535;
}



/* Hover styling for buttons */
button:hover {
    color: #C31A21;

}



/* Styling for table cells */
tr td:first-child {
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

/* Styling for iframes */
iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
}







/* CSS for smaller screens (mobile) */
@media only screen and (max-width: 767px) {
    /* .container {
        width: 90%;
    } */

    /* .container h1 {
        font-size: 40px;
    }

    .container p {
        font-size: 18px;
    }

    .container-left,
    .container-right {
        padding: 20px;
    } */

    .input-row {
        flex-direction: column; /* Stack input rows vertically */
    }

    .input-row .input-group {
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    input,
    textarea {
        padding: 8px;
    }

    /* button {
        width: 60%;
    } */

    tr td:first-child {
        font-size: 15px;
        font-weight: 600;
        padding-right: 10px;
    }
}